*,
*::before,
*::after {
  box-sizing: content-box;
}

#map:-moz-full-screen {
    height: 100%;
    background-color: white;
}
#map:-webkit-full-screen {
    height: 100%;
    background-color: white;
}
#map:-ms-fullscreen {
    height: 100%;
    background-color: white;
}
#map:fullscreen {
    height: 100%;
    background-color: white;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: small;
    overflow: hidden;
    font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
    background-color: white;
}

#map {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}


/* As we've given the element we're displaying the layer tree within a class of
   * layer-switcher (so we can benefit from the default layer-switcher styles) we
   * need to override the position to avoid it being absolutely positioned */
.layer-switcher {
    position: initial;
}

.layer-switcher li.layer div {
    display: table-row;
}
  
.controller-content {
    width: 100%;
    font-size: 12px;
}

.controller-padding {
    padding-left: 10px;
}

.slider {
    -webkit-appearance: none;
    width: 100px;
    height: 4px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.my-handle {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.my-handle-disable {
    color: gray;
    cursor: not-allowed;
}

.ol-full-screen{
    top: .5em;
    right: .5em;
    left: initial;
}

p {
    font-size: 14px;
}

#progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    background: rgba(0, 60, 136, 0.75);
    width: 0;
    transition: width 250ms;
}

.content{
    overflow-y:auto;
    overflow-x: hidden;
    position: absolute;
    top: 40px;
    bottom: 0;
    width: 100%;
}

.stats-error-matrix{
    background-image: url("../img/table.png");
    display: inline-block;
    content:"";
    background-position: center;
    background-size: 16px 16px;
    width: 16px; 
    height: 16px;
}

.stats-piechart{
    background-image: url("../img/pie_chart.png");
    display: inline-block;
    content:"";
    background-position: center;
    background-size: 16px 16px;
    width: 16px; 
    height: 16px;
}

.home{
    background-image: url("../img/home.png");
    display: inline-block;
    content:"";
    background-position: center;
    background-size: 16px 16px;
    width: 16px; 
    height: 16px;
}

.card-header{
    cursor: pointer;
}
.card-header:hover {
    background: rgb(230, 230, 230);
}

#legend{
    text-align: left;
    bottom: .5em;
    right: .5em;
    max-width: calc(100% - 1.3em);
    z-index: 30000;
    position: absolute;
    background: white;
    opacity: 0.9;
    border: 3px solid transparent;
    border-radius: 4px;
    background-color: rgba(200, 200, 200, 0.4);
}

#legend-content{
    background-color: rgb(255, 255, 255);
    padding: 6px;
    border-radius: 2px;
}

.none-block{
    display: none;
}

.inline-block{
    display: inline-block;
}

#legend-content li {
    list-style-type: none;
}

@media (max-width: 768px) {
    #legend{
      display: none;
    }
}

.circle {
    height: 12px;
    width: 12px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.line-header {
    margin-top: 0rem;
    margin-bottom: 1rem;
}

.header-panel {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.collapsing {
    transition: 500ms;
}

.attribute-content-panel{
    text-align: center;
    margin: 10px;
}

.attribute-content-panel button{
    background-size: 32px 32px;
    padding: 0px;
    width: 32px; 
    height: 32px;
    margin: 10px;
    display: inline-block;
    content:"";
    background-position: center;
    background-color: #668ad84f;/*Button Color*/
    color: #FFF;
    border-bottom: solid 3px #6272954f;
    border-radius: 3px;
}

.attribute-content-panel button:focus{
    box-shadow:none;
}

.attribute-content-panel button:active {
    -ms-transform: translateY(3px);
    -webkit-transform: translateY(3px);
    transform: translateY(3px);/*Move down*/
    border-bottom: none;/*disappears*/
}

#stats-main-board{
    text-align: left;
    bottom: .5em;
    left: .5em;
    max-width: calc(100% - 1.3em);
    z-index: 30000;
    position: absolute;
    background: white;
    opacity: 0.9;
    border: 3px solid transparent;
    border-radius: 4px;
    background-color: rgba(200, 200, 200, 0.4);
    max-width: 500px;
}

#stats-board{
    background-color: rgb(255, 255, 255);
    padding: 6px;
    border-radius: 2px;
}

@media (max-width: 768px) {
    #stats-main-board{
      display: none;
    }
}

#close-button {
    position:absolute;
    background-size: 20px 20px;
    padding: 0px;
    width: 20px; 
    height: 20px;
    top: -10px;
    right: -10px;
    background-color: rgb(0, 0, 0);
    background-image: url("../img/close.png");
    border-radius: 50%;
}

#close-button:focus{
    box-shadow:none;
}

#board{
    margin-top: 17px;
}

#main-stats{
    position: absolute;
    width: 100%;
}

#controller-stats button:focus{
    box-shadow:none;
}

#controller-stats button:active {
    -ms-transform: translateY(3px);
    -webkit-transform: translateY(3px);
    transform: translateY(3px);/*Move down*/
    border-bottom: none;/*disappears*/
}

.info-table-button {
    background-image: url("../img/table.png");
}

.piechart-button {
    background-image: url("../img/pie_chart.png");
}

.combochart-button {
    background-image: url("../img/combo_chart.png");
}

#controls{
    text-align: left;
    top: .5em;
    right: .5em;
    max-width: calc(100% - 1.3em);
    z-index: 30000;
    position: absolute;
    background: white;
    opacity: 0.9;
    border: 3px solid transparent;
    border-radius: 4px;
    background-color: rgba(200, 200, 200, 0.4);
}

#controls2{
    text-align: left;
    right: .5em;
    max-width: calc(100% - 1.3em);
    z-index: 30000;
    position: absolute;
    background: white;
    opacity: 0.9;
    border: 3px solid transparent;
    border-radius: 4px;
    background-color: rgba(200, 200, 200, 0.4);
    margin-top: 7.5px;
}

#controls-content{
    background-color: rgb(255, 255, 255);
    padding: 6px;
    border-radius: 2px;
}

#controls-content-area-plot{
    background-color: rgb(255, 255, 255);
    padding: 6px;
    border-radius: 2px;
}

/* Center the loader */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  
  #myDiv {
    display: none;
    text-align: center;
  }