*,
*::before,
*::after {
  box-sizing: content-box;
}

#map:-moz-full-screen {
    height: 100%;
    background-color: rgba(255,255,255,0);
}
#map:-webkit-full-screen {
    height: 100%;
    background-color: rgba(255,255,255,0);
}
#map:-ms-fullscreen {
    height: 100%;
    background-color: rgba(255,255,255,0);
}
#map:fullscreen {
    height: 100%;
    background-color: rgba(255,255,255,0);
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: small;
    overflow: hidden;
    font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}

#map {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}


/* As we've given the element we're displaying the layer tree within a class of
   * layer-switcher (so we can benefit from the default layer-switcher styles) we
   * need to override the position to avoid it being absolutely positioned */
.layer-switcher {
    position: initial;
}

.layer-switcher li.layer div {
    display: table-row;
}
  
.slidecontainer {
    width: 100%;
    font-size: 12px;
}

.slidelabel {
    padding-left: 10px;
}

.slider {
    -webkit-appearance: none;
    width: 100px;
    height: 4px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.my-handle {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.my-handle-disable {
    color: gray;
    cursor: not-allowed;
}

.ol-full-screen{
    top: .5em;
    right: .5em;
    left: initial;
}

p {
    font-size: 14px;
}

#progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    background: rgba(0, 60, 136, 0.75);
    width: 0;
    transition: width 250ms;
}

.content{
    padding-top: 10px;
    padding-left: 10px;
    overflow-y:auto;
    position: absolute;
    top: 40px;
    bottom: 0;
    width: 100%;
}

.stats-error-matrix{
    background-image: url("../img/table.png");
    display: inline-block;
    content:"";
    background-position: center;
    background-size: 16px 16px;
    width: 16px; 
    height: 16px;
}

.stats-piechart{
    background-image: url("../img/pie_chart.png");
    display: inline-block;
    content:"";
    background-position: center;
    background-size: 16px 16px;
    width: 16px; 
    height: 16px;
}

.home{
    background-image: url("../img/home.png");
    display: inline-block;
    content:"";
    background-position: center;
    background-size: 16px 16px;
    width: 16px; 
    height: 16px;
}

.card-header{
    cursor: pointer;
}
.card-header:hover {
    background: rgb(230, 230, 230);
}

#legend{
    text-align: left;
    bottom: .5em;
    right: .5em;
    max-width: calc(100% - 1.3em);
    z-index: 30000;
    position: absolute;
    background: white;
    opacity: 0.9;
    border: 3px solid transparent;
    border-radius: 4px;
    background-color: rgba(200, 200, 200, 0.4);
}

#legend-content{
    background-color: rgb(255, 255, 255);
    padding: 6px;
    border-radius: 2px;
}

.none-block{
    display: none;
}

.inline-block{
    display: inline-block;
}

#legend-content li {
    list-style-type: none;
}

@media (max-width: 768px) {
    #legend{
      display: none;
    }
}

.circle {
    height: 12px;
    width: 12px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.line-header {
    margin-top: 0rem;
    margin-bottom: 1rem;
}

.header-panel {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.collapsing {
    transition: 500ms;
}

.attribute-content-panel{
    text-align: center;
    margin: 10px;
}

.attribute-content-panel button{
    background-size: 32px 32px;
    padding: 0px;
    width: 32px; 
    height: 32px;
    margin: 10px;
    display: inline-block;
    content:"";
    background-position: center;
    background-color: #668ad84f;/*Button Color*/
    color: #FFF;
    border-bottom: solid 3px #6272954f;
    border-radius: 3px;
}

.attribute-content-panel button:focus{
    box-shadow:none;
}

.attribute-content-panel button:active {
    -ms-transform: translateY(3px);
    -webkit-transform: translateY(3px);
    transform: translateY(3px);/*Move down*/
    border-bottom: none;/*disappears*/
}

#stats-main-board{
    text-align: left;
    bottom: .5em;
    left: .5em;
    max-width: calc(100% - 1.3em);
    z-index: 30000;
    position: absolute;
    background: white;
    opacity: 0.9;
    border: 3px solid transparent;
    border-radius: 4px;
    background-color: rgba(200, 200, 200, 0.4);
    max-width: 500px;
}

#stats-board{
    background-color: rgb(255, 255, 255);
    padding: 6px;
    border-radius: 2px;
}

@media (max-width: 768px) {
    #stats-main-board{
      display: none;
    }
}

#close-button {
    position:absolute;
    background-size: 20px 20px;
    padding: 0px;
    width: 20px; 
    height: 20px;
    top: -10px;
    right: -10px;
    background-color: rgb(0, 0, 0);
    background-image: url("../img/close.png");
    border-radius: 50%;
}

#close-button:focus{
    box-shadow:none;
}

#board{
    margin-top: 17px;
}

#main-stats{
    position: absolute;
    width: 94%;
}

#controller-stats button:focus{
    box-shadow:none;
}

#controller-stats button:active {
    -ms-transform: translateY(3px);
    -webkit-transform: translateY(3px);
    transform: translateY(3px);/*Move down*/
    border-bottom: none;/*disappears*/
}

.info-table-button {
    background-image: url("../img/table.png");
}

.piechart-button {
    background-image: url("../img/pie_chart.png");
}

.combochart-button {
    background-image: url("../img/combo_chart.png");
}

#controls{
    text-align: left;
    top: .5em;
    right: .5em;
    max-width: calc(100% - 1.3em);
    z-index: 30000;
    position: absolute;
    background: white;
    opacity: 0.9;
    border: 3px solid transparent;
    border-radius: 4px;
    background-color: rgba(200, 200, 200, 0.4);
}

#controls-content{
    background-color: rgb(255, 255, 255);
    padding: 6px;
    border-radius: 2px;
}

.eval-circle{
    width: 75px;
    height: 75px;
    line-height: 75px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}
.eval-circle:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 6px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
}
.eval-circle > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.eval-circle .eval-circle-left{
    left: 0;
}
.eval-circle .eval-circle-bar{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 6px;
    border-style: solid;
    position: absolute;
    top: 0;
    left: 0;
}
.eval-circle .eval-circle-left .eval-circle-bar{
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.eval-circle .eval-circle-right{
    right: 0;
}
.eval-circle .eval-circle-right .eval-circle-bar{
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
}
.eval-circle .eval-circle-value{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #44484b;
    font-size: 20px;
    color: #fff;
    line-height: 75px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}
.eval-circle.blue .eval-circle-bar{
    border-color: #049dff;
}
.eval-circle.blue .eval-circle-left .eval-circle-bar{
    animation: loading-2 1.5s linear forwards 1.8s;
}
.eval-circle.yellow .eval-circle-bar{
    border-color: #fdba04;
}
.eval-circle.yellow .eval-circle-left .eval-circle-bar{
    animation: loading-3 1s linear forwards 1.8s;
}
.eval-circle.pink .eval-circle-bar{
    border-color: #ed687c;
}
.eval-circle.pink .eval-circle-left .eval-circle-bar{
    animation: loading-4 0.4s linear forwards 1.8s;
}
.eval-circle.green .eval-circle-bar{
    border-color: #1abc9c;
}
.eval-circle.green .eval-circle-left .eval-circle-bar{
    animation: loading-5 1.2s linear forwards 1.8s;
}
@keyframes loading-1{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@keyframes loading-2{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}
@keyframes loading-3{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
@keyframes loading-4{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
}
@keyframes loading-5{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(126deg);
        transform: rotate(126deg);
    }
}
@media only screen and (max-width: 990px){
    .eval-circle{ margin-bottom: 10px; }
}